<html>
<head>
    <title>Hello vue</title>
    <script src="./assets/vue.js"></script>
    <link href="./assets/bootstrap.css" rel="stylesheet"></link>
    <link href="./assets/app.css" rel="stylesheet"></link>
</head>

<body>

<div class="container" id="v-app">
    <h2>Simple Calc</h2>
    A: <input class="form-control" v-model="a">
    OP:
    <select class="form-control" v-model="op">
        <option>Select</option>
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    B: <input class="form-control" v-model="b">
    <br>

    <div v-if="calcFunc"
     class="alert alert-info">
        Result: {{ result }}
    </div>

    {{ calcFunc }}
</div>

<script>

const calc = {
    '+': (a, b) => a+b,
    '-': (a, b) => a-b,
    '*': (a, b) => a*b,
    '/': (a, b) => a/b,
}

new Vue({
    el: '#v-app',
    data: {
        a: 0,
        b: 0,
        op: 'Select'
    },
    computed: {
        aNum() {
            return parseInt(this.a)
        },
        bNum() {
            return parseInt(this.b)
        },
        calcFunc() {
            return calc[this.op]
        },
        result() {
            if(this.calcFunc) {
                return this.calcFunc(this.aNum, this.bNum)
            } else {
                return 'Please select func'
            }
        }
    }
})
</script>

</body>
</html>